@font-face {
  font-family: Arno Pro;
  src: url(../fonts/Arno_Pro.ttf);
}

@font-face {
  font-family: Arno Pro Italic;
  src: url(../fonts/arnopro-italic.otf);
}

@font-face {
  font-family: Arno Pro Italic Bold;
  src: url(../fonts/arnopro-italiccaption.otf);
}

@font-face {
  font-family: Arno Pro Italic Display;
  src: url(../fonts/arnopro-italicdisplay.otf);
}

@font-face {
  font-family: Arno Pro Caption;
  src: url(../fonts/Arno_Pro_Caption.ttf);
}
@font-face {
  font-family: Arno Pro Bold Caption;
  src: url(../fonts/arno-pro/ArnoPro-SmbdSubhead.otf);
}

@font-face {
  font-family: ArnoPro-Display;
  src: url(../fonts/arno-pro/ArnoPro-Display.otf);
}
